name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build, tag, and push docker image to Amazon ECR Public
      env:
        REGISTRY: ${{ secrets.DOCKER_USERNAME }}
        REPOSITORY: movieapi
        IMAGE_TAG: latest
      run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG ./MovieApi/.
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG


